<div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">Game Rule</a>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid" style="color: #fff">
                <h3>情境</h3>
                <p>想像一所學校，有A、B、C一共3個班，每個班有5個人。並且剛結束一場考試。</p>
                <p>而你是A班的學生Andy，只有瀏覽A班成績的權限。</p>
                <hr style="border-color: #888">
                <h3>Mission 1</h3>
                <p>由於你是A班的學生，只有瀏覽A班學生成績的權限，但好奇心使然，你試著用一些搜尋方法找出所有學生的成績...</p>
                <h3>Mission 2</h3>
                <p>由於老師說過，考全校第一名的同學有額外的獎勵，所以你試著用一些方式竄改你的成績...</p>
            </div>
        </div>
    </div>