<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:void(0)">Game Start</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="height: calc(100% - 60px)">
                        <div class="card-header card-header-primary micro-jhen-hei">
                            <h4 class="card-title">搜尋</h4>
                            <p class="card-category">輸入學生姓名快速查找</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="bmd-label-floating">姓名</label>
                                    <input id="search-name" type="text" class="form-control">
                                </div>
                            </div>
                            <button id="search-btn" type="submit" class="btn btn-primary pull-right">搜尋</button>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="bmd-label-floating">SQL 語法</label>
                                    <textarea id="search-sql" type="text" class="form-control" 
                                    readonly>SELECT rowid AS id, class, name, score FROM score WHERE class = 'A' and name = ''
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <div class="flex-container" style="display: flex; justify-content: space-between;">
                                <div class="micro-jhen-hei">
                                    <h4 class="card-title ">學生成績表</h4>
                                    <p class="card-category">以下為 A 班學生成績總表</p>
                                </div>
                                <ul class="nav nav-tabs" id="reset-btn" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">restore</i> Reset
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="card-body micro-jhen-hei">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            班級
                                        </th>
                                        <th>
                                            姓名
                                        </th>
                                        <th>
                                            分數
                                        </th>
                                    </thead>
                                    <tbody id="score-tbody">
                                        <% for (var i = 0; i < scoreTable.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= scoreTable[i].id %>
                                            </td>
                                            <td>
                                                <%= scoreTable[i].class %>
                                            </td>
                                            <td>
                                                <%= scoreTable[i].name %>
                                            </td>
                                            <td>
                                                <%= scoreTable[i].score %>
                                            </td>
                                        </tr>
                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>